@inherits LayoutComponentBase

<MudThemeProvider Theme="_disabilityServiceTheme" />
<MudDialogProvider/>
<MudSnackbarProvider />

<div style="        background-image: none; background-color: rgb(5,82,59);" class="sidebar">
    <NavMenu />
</div>

<div class="main">
    @Body
</div>

@code{

    readonly MudTheme _disabilityServiceTheme = new()
    {
        Palette = new Palette
        {
            Primary = Colors.Green.Default,
            Secondary = Colors.Green.Lighten1,
            AppbarBackground = Colors.Green.Accent1,
        },

        LayoutProperties = new LayoutProperties
        {
            DrawerWidthLeft = "260px",
            DrawerWidthRight = "300px"
        }
    };
}