@page "/charactercreate"
@inject HttpClient HttpClient

<h3>Create Character</h3>

<section style="width:600px; margin: 0 auto;">
    <EditForm Model="_character" OnValidSubmit="Create">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="Name" @bind-Value="_character.Name"
                              For="@(() => _character.Name)"/>
                <MudTextField Label="Level" @bind-Value="_character.Level"
                              For="@(() => _character.Level)"/>
            </MudCardContent>
            <MudCardActions>
              <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled"
                         Link="/character"
                         Class="ml-auto">Cancel</MudButton>
              <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
                         Class="ml-auto">Submit Character</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</section>